@charset "UTF-8";
.box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  display: none;
}

#header {
  position: relative;
  height: 87px;
}

#header .header {
  border-bottom: 2px solid #ccc;
  height: 78px;
}

#header .header .a1 img {
  width: 119px;
  height: 75px;
  float: left;
  margin-right: 60px;
}

#header .header .top_u1 {
  float: left;
}

#header .header .top_u1 li {
  float: left;
  height: 78px;
  box-sizing: border-box;
  padding-top: 12px;
  margin-right: 40px;
}

#header .header .top_u1 li a {
  font-size: 14px;
  display: block;
  font-weight: 550;
  color: #000;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

#header .header .top_u1 li a:hover {
  border-bottom: 2px solid #FF2837;
  color: #FF2837;
}

#header .header .kuang {
  width: 288px;
  height: 36px;
  border: 2px solid #FF2837;
  float: left;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: 16px;
  z-index: 9;
  border-right: none;
}

#header .header .kuang .cha {
  width: 277px;
  height: 24px;
}

#header .header .btn_cha {
  margin-top: 14px;
  cursor: pointer;
  width: 53px;
  height: 40px;
  background: url(../images/btn_cha.png) no-repeat right center;
  background-size: 53px 36px;
  float: left;
}

#header .header .top_right {
  float: left;
  width: 210px;
  margin-left: 40px;
  margin-top: 14px;
}

#header .header .top_right li {
  float: left;
}

#header .header .top_right li a {
  width: 40px;
  display: block;
  margin-right: 30px;
}

#header .header .top_right li a img {
  height: 40px;
  width: 40px;
  float: left;
}

#header .header .top_right li .names {
  position: absolute;
  top: 21px;
  right: -50px;
  font-size: 12px;
  color: #FF2837;
}

#header .header .top_right .l1 {
  position: relative;
}

.xinxi {
  height: 120px;
  box-sizing: border-box;
  padding-top: 50px;
}

.xinxi span {
  font-size: 24px;
  line-height: 24px;
  color: #333;
}

.xinxi .sp1 {
  font-weight: 800;
  margin-left: 528px;
}

.xinxi p {
  font-size: 14px;
  line-height: 14px;
  color: #969696;
  padding-top: 10px;
  text-align: center;
}

.detail {
  background: #fafafa;
  color: #333;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  position: relative;
  height: 600px;
}

.detail .right {
  box-sizing: border-box;
  padding: 60px 30px 0 563px;
}

.detail .right h1 {
  font-family: arial;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  line-height: 25px;
  overflow: hidden;
}

.detail .right .mintt {
  height: 30px;
  line-height: 30px;
  color: #333;
  font-family: arial;
  font-size: 12px;
  margin-bottom: 10px;
}

.detail .right .jg {
  padding: 5px 10px 15px;
  height: 50px;
  border-top: 1px solid #ebebeb;
  position: relative;
}

.detail .right .jg .jiage {
  font-family: arial;
  font-size: 22px;
  line-height: 22px;
  color: #ff2837;
  line-height: 50px;
}

.detail .right .jg .yj {
  font-family: arial;
  font-size: 12px;
  color: #b9b9b9;
  padding: 0px 15px;
  position: relative;
  text-decoration: line-through;
}

.detail .right .jg .huodong {
  width: 48px;
  height: 20px;
  padding-left: 15px;
  background: url(../images/goods_icon_jgtb.png) left top no-repeat;
  background-size: 48px auto;
  font-size: 10px;
  font-family: "ºÚÌå";
  color: #fff;
  line-height: 20px;
  position: absolute;
  right: 372px;
  top: 12px;
}

.detail .right .hui {
  height: 40px;
  padding: 0px 10px;
  line-height: 40px;
  margin-bottom: 15px;
  background-color: #fafafa;
  font-size: 12px;
  border: solid 1px #ebebeb;
  border-radius: 10px;
}

.detail .right .hui .huijia {
  display: block;
  color: #ff2837;
  font-weight: bold;
  font-family: 微软雅黑;
  float: left;
}

.detail .right .hui .time {
  display: block;
  float: left;
  padding-left: 20px;
  padding-top: 1px;
  color: #333;
}

.detail .right .quan .ling {
  display: block;
  color: #000;
  font-weight: bold;
  font-family: 微软雅黑;
  float: left;
  margin-right: 10px;
}

.detail .right .quan .manjian {
  display: block;
  width: 61px;
  height: 40px;
  background: url(../images/goods_icon_bonusBg.png) left 9px no-repeat;
  background-size: 61px auto;
  margin: 0px 5px;
  text-align: center;
  color: #ff2837;
  float: left;
}

.detail .right .shui .shui_sp1 {
  display: block;
  color: #ff2837;
  font-weight: bold;
  font-family: 微软雅黑;
  float: left;
}

.detail .right .shui .shui_sp2 {
  color: #ff2837;
  padding: 0 30px 0 15px;
}

.detail .right .num {
  overflow: hidden;
}

.detail .right .num p {
  width: 114px;
  height: 70px;
  border: 1px solid #ebebeb;
  float: left;
  text-align: center;
  background-color: #fafafa;
  border-radius: 5px;
  margin-right: 16px;
}

.detail .right .num p .num_sp1 {
  display: block;
  height: 32px;
  line-height: 44px;
  color: #333;
  font-size: 12px;
}

.detail .right .num p .num_sp2 {
  font-size: 10px;
  color: #969696;
}

.detail .right .peifa {
  margin-top: 14px;
}

.detail .right .peifa .peifa_sp1 {
  display: block;
  font-weight: bold;
  font-family: 微软雅黑;
  float: left;
}

.detail .right .peifa .peifa_sp2 {
  display: block;
  float: left;
  padding-left: 10px;
  padding-top: 1px;
  color: #333;
}

.detail .right .note {
  width: 560px;
  margin-bottom: 15px;
  color: #333;
  line-height: 20px;
}

.detail .right .note p {
  font-size: 12px;
}

.prod {
  box-sizing: border-box;
  padding-top: 50px;
}

.prod .uu {
  background: #fafafa;
  color: #333;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  height: 150px;
}

.prod .uu ul {
  float: left;
}

.prod .uu ul li {
  font-size: 12px;
  margin: 0 200px 0 0;
  line-height: 30px;
}

.jieshao {
  text-align: center;
}

#link {
  height: 360px;
  box-sizing: border-box;
  padding-top: 50px;
  margin-top: 50px;
}

#link .link {
  height: 310px;
}

#link .link .link_l {
  float: left;
  height: 240px;
  width: 596px;
  margin-right: 3px;
}

#link .link .link_l .help {
  background: whitesmoke;
  width: 295px;
  height: 136px;
  margin-right: 3px;
  margin-bottom: 3px;
  float: left;
}

#link .link .link_l .help .zd {
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 8px;
  float: left;
  margin-right: 30px;
}

#link .link .link_l .help .zd h3 {
  font-size: 24px;
  font-weight: 600;
}

#link .link .link_l .help .zd p {
  font-size: 18px;
  color: #969696;
}

#link .link .link_l .help .list {
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

#link .link .link_l .help .list li a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
  line-height: 26px;
  display: block;
}

#link .link .link_l .help .list li a:hover {
  color: #FF2837;
}

#link .link .link_c {
  float: left;
  margin-right: 6px;
}

#link .link .link_c img {
  height: 276px;
}

#link .link .link_r {
  float: left;
}

#link .link .link_r img {
  height: 276px;
}

#bottom {
  background: #333;
}

#bottom .bottom {
  height: 170px;
}

#bottom .bottom ul {
  margin-left: 260px;
  overflow: hidden;
}

#bottom .bottom ul li {
  float: left;
}

#bottom .bottom ul li a {
  color: #b9b9b9;
  font-size: 12px;
  display: block;
  margin: 30px 30px 10px 0;
}

#bottom .bottom p {
  font-size: 12px;
  color: #b9b9b9;
  margin-left: 345px;
}

#bottom .bottom img {
  height: 50px;
  margin: 10px 0 0 512px;
}

.btns {
  height: 381px;
  width: 75px;
  position: fixed;
  border: 2px solid #e1e1e1;
  top: 174px;
  right: 50px;
  background: #f5f5f5;
  border-radius: 15px;
}

.btns .btn_r {
  height: 75px;
  border-bottom: 2px solid  #e1e1e1;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

.btns .btn_r img {
  width: 70px;
  height: 70px;
  position: absolute;
}

.btns .btn_r span {
  line-height: 120px;
  font-size: 12px;
  display: block;
  margin-left: 15px;
}

.btns .btn_r .i1 {
  position: absolute;
  background: #FF2837;
  color: #fff;
  top: 4px;
  right: 4px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 20px;
}

.btns .btn5 {
  border: none;
}

#buy {
  z-index: 10000;
  width: 100%;
  padding-bottom: 20px;
  background-color: #fafafa;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

#buy .buy {
  height: 60px;
  padding-top: 20px;
}

#buy .buy .share {
  width: 60px;
  float: left;
  margin-left: 60px;
  text-align: center;
}

#buy .buy .share img {
  width: 22px;
  height: 22px;
}

#buy .buy .share p {
  font-size: 12px;
  color: #b9b9b9;
}

#buy .buy .gou {
  display: block;
  width: 60%;
  height: 50px;
  line-height: 50px;
  margin: 0px 10%;
  background-color: #ff2837;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#buy .buy .collect {
  float: left;
}

#buy .clear {
  display: none;
  padding-top: 20px;
}

#buy .clear .photo {
  float: left;
  margin-right: 315px;
}

#buy .clear .photo img {
  width: 70px;
  height: 70px;
}

#buy .clear .calculate {
  float: left;
}

#buy .clear .calculate .goodsPrice {
  color: #ff2837;
  font-size: 16px;
  margin: 5px 0 16px 0;
}

#buy .clear .calculate .buy_c {
  float: left;
}

#buy .clear .calculate .buy_c img {
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
}

#buy .clear .calculate .buy_c #number {
  width: 50px;
  height: 24px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  border: none;
  background-color: #f0f0f0;
  border-radius: 13px;
}

#buy .clear .close {
  float: right;
  margin-right: 30px;
}

#buy .clear .close img {
  width: 12px;
  height: 12px;
}

#buy .clear .btn_buy {
  width: 80%;
  height: 50px;
  line-height: 50px;
  margin: 110px 0 0 122px;
  background-color: #ff2837;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
